.DS_Store
.idea/
.vscode/
__pycache__/
.pytest_cache/
venv/
_process_data/

*.py[cod]
*$py.class

.project
.coverage

*.csv
*.log
*.out
*.bak
*.db
*.xml
*.json

!*unit_test.json
!**/*_languages/*.json
