{
  "seed_name": [
    "${SEED_NAME}"
  ],
  "secondouts": {
    "repetition_CDF": true,
    "threshold": 0.1
  },
  "distribute": {
    "measure": "pagerank",
    "threshold": false,
    "plot_graph": false
  },
  "mongo": {
    "host": "127.0.0.1",
    "port": 27017,
    "database": "tweetopo",
    "user": "${MONGO_USER}",
    "passwd": "${MONGO_PASSWD}"
  },
  "field_language": "en"
}
